.container{
    width: 96vw;
    height: 87vh;
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 10px;
    /* padding: 50px; */
}

.heading{
    padding-left: 50px;
    padding-top: 10px;
}

.table {
    width: 85vw;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1.5fr 1.5fr;
  font-weight: 600;
  padding: 12px;
  border-bottom: 2px solid #ddd;
  background-color: #f9f9f9;
}


