.container{
    width: 99vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    margin: 5px;
}
