nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.ExOptions:hover{
    background-color: black;
}

nav span{
    font-size: large;
    font-weight: 800;
    cursor: pointer;
}

nav p{
    color: rgba(255, 255, 255, 0.562);
}

.logo{
    display: flex;
}

.symbol{
    display: flex;
    align-items: center;
    padding: 10px;

}

.options{
    display: flex;
    justify-content: space-around;
}

.ExOptions{
    padding: 10px;
    border: 0.5px solid white;
    border-radius: 5px;
    margin: 10px;
}

#viewLength{
    border: none;
}

#customise{
    background-color: rgba(240, 248, 255, 0.925);
    color: black;
    cursor: pointer;
}

.floatFullIN{
    top: 20px !important;
    right: 20px !important;
    bottom: auto !important;
}