nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.logo{
    display: flex;
}

.symbol{
    display: flex;
    align-items: center;
    padding: 10px;

}

.options{
    display: flex;
    justify-content: space-around;
}

.ExOptions{
    padding: 10px;
    border: 0.5px solid white;
    margin: 10px;
}